body {
    background-color: rgb(223, 238, 250);
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-family: arial;
    text-align: center;
}

.container .notify::before {
    position: absolute;
    content: attr(data-count);
    border-radius: 50%;
    top: -15px;
    right: 80px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 5px 12px;
    background: linear-gradient(#ff1a1a, #ff0000, #e60000);
    line-height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    animation: animate .9s ease-out infinite alternate;
}

@keyframes animate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.09);
    }
}

.notify.add-numb::before {
    opacity: 1;
}

.container .btn {
    position: absolute;
    left: -10px;
    top: 100px;
    height: 40px;
    width: 120px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #111755;
    background: #1a237e;
    border-radius: 6px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
}

.container .btn:hover {
    background: #161d6a;
}

.notify img {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    object-fit: cover;
}